.projectsWrap {
  padding: 48px;
  box-sizing: border-box;
  background: rgba(40, 108, 226, 0.7);
  margin-bottom: 36px;
  .projectsWrap__title {
    font-size: 1.6875rem;
    margin: 0 0 16px;
    text-align: center;
    width: 100%;
    color: #ffffff;
  }
  .projectsWrap__details {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .projectsWrap__details__card {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 16px;
      width: 33%;
      margin-top: 10px;
      .projectsWrap__details__logo {
        mix-blend-mode: multiply;
      }
      span {
        display: block;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .projectsWrap__details__card {
    width: 100% !important;
  }
}
