.skillsWrap {
  padding: 48px;
  box-sizing: border-box;
  background: #286ce2;
  margin-bottom: 36px;
  .skillsWrap__title {
    font-size: 1.6875rem;
    margin: 0 0 16px;
    text-align: center;
    width: 100%;
    color: #ffffff;
  }
  .skillsWrap__details {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .skillsWrap__details__card {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 16px;
      width: 25%;
      margin-top: 10px;
      .skillsWrap__details__logo {
        mix-blend-mode: multiply;
      }
      span {
        display: block;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .skillsWrap__details__card {
    width: 50% !important;
  }
}
