.timelineWrap {
  margin: 36px 0;
  .timelineWrap__title {
    font-size: 1.6875rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .timelineWrap__paper {
    padding: 16px;
    box-sizing: border-box;
  }
}
